---
layout: main
title: About
permalink: /about
---

<h1>About</h1>

<p>Openscad jekyll material theme is a template for the openscad projects</p>

<p>This template can be used with the program <a href="https://framagit.org/Akrobate/python-comment-parser">python-comment-parser</a> wich will generate whole pages with propoer content to be interpreted by this template</p>

<p>Python comment parser is based on anotations in your openscad project. Each file from openscad will generate a page. All relations of a page will be represented in the page automaticly.</p>

<h2>Usage in 3D project</h2>

<p>When you are working on your openscad files you will need to anotate files with some specific comments to get pages generated</p>


