{% assign icon-type = include.type %}
{% assign icon-class = include.class %}
{% assign with-wording = include.with-wording %}


{% if icon-type == "component" %}
    <i class="material-icons {{ icon-class }}">widgets</i>
{% elsif icon-type == "piece" %}
    <i class="material-icons {{ icon-class }}">settings</i>
{% elsif icon-type == "subpiece" %}
    <i class="material-icons {{ icon-class }}">settings_applications</i>
{% endif %}


{% if with-wording == true %}
    {% if icon-type == "component" %}
        Component element
    {% elsif icon-type == "piece" %}
        Piece element        
    {% elsif icon-type == "subpiece" %}
        Subpiece element
    {% endif %}
{% endif %}