<!-- Main Js -->
<script src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>