{% assign page-card = include.page-card-data %}

<div class="col l6 m12 s12">
    <div class="card horizontal">
        <div class="card-image">
            {% if page-card.image %}
            <img src="{{site.baseurl}}/assets/previews/{{page-card.image}}">
            {% else %}
            {% endif %}
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <p>{{ page-card.title }}</p>
            </div>
            <div class="card-action">
                {% include icon_page_type.html type=page-card.type class="left" %}
                <a href="{{site.baseurl}}/pages/{{page-card.url}}">{{ page-card.title }}</a>
            </div>
        </div>
    </div>
</div>
