{% assign related_pages = include.content | where: 'type', include.type %}
{% assign count_related_pages = related_pages | size %}

{% if count_related_pages > 0 %}
    <div class="row">
        {% if include.type == "piece" %}
            <h4>Piece</h4>
        {% elsif include.type == "component" %}
            <h4>Components</h4>
        {% endif %}

        {% for related-page in related_pages %}
            {% include page_card.html page-card-data=related-page %}
        {% endfor %}
    </div>
{% endif %}
