---
layout: default
---
<nav class="blue">
	<div class="nav-wrapper">
		<a href="{{site.baseurl}}/" class="brand-logo">
			{{ site.header-title }}
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="{{ site.project-github-url }}">Project on github</a></li>
			<li><a href="{{site.baseurl}}/about">A propos</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	{{ content }}
</div>

