---
layout: main
---

<!-- WIP Pieces and components list -->

<h3> 
    {% include icon_page_type.html type=page.type %}
    {{ page.title }}
</h3>

<div class="row section">
    <div class="col m6">
        {% if page.image %}
        <img src="{{site.baseurl}}/assets/previews/{{page.image}}" width="100%" />
        
        {% endif %}
    </div>
    <div class="col m6">
        
        <p>
            {% include icon_page_type.html type=page.type class="left" with-wording = true %}
        </p>
    
        <div class="section">
            <ul class="collection">
                <li class="collection-item avatar">
                    <a href="{{site.baseurl}}/assets/previews/{{page.image}}">
                        <i class="material-icons circle green">image</i>
                        <span class="title">Download Image File</span>
                    </a>
                    <p>{{ page.title }}.png</p>
                </li>
                <li class="collection-item avatar">
                    <a href="{{site.baseurl}}/assets/stl_files/{{page.stl_link}}"></a>
                        <i class="material-icons circle blue lighten-2">file_download</i>
                        <span class="title">Download STL File</span>
                    </a>
                    <p>{{ page.stl_link }}</p>
                </li>
                <li class="collection-item avatar">
                    <a href="#">
                        <i class="material-icons circle deep-purple lighten-3">code</i>
                        <span class="title">Source file</span>
                    </a>
                    <p>{{ page.title }}.openscad</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% include related_page_block.html content=page.related-pages type="component" %}

{% include related_page_block.html content=page.related-pages type="piece" %}


<div class="row section">
    {{content | markdownify}}
</div>
